{{>partial}}

{{#each this}}
{{#each creations}}

<tr>
  <td style="color: #fff; font-size: 18px; text-align: center; ">{{this.title}}</td>
  <td><img src="{{this.picture}}" alt="" /></td>
  <td style="color: #fff; font-size: 18px; text-align: center; ">{{this.artist_name}}</td>
  <td style="color: #fff; font-size: 18px; text-align: center; ">{{this.description}}</td>
</tr>

  {{/each}}
{{/each}}
