{{#each this}}
  {{#each creations}}

    <div>
     <h2 class="creation-title">{{this.title}}</h2>
     <img src="{{this.picture}}"/>
     <h2 class="creation-artist">{{this.artist_name}}</h2>
     <p class="creation-description">{{this.description}}</p>
    </div>

  {{/each}}
{{/each}}
